* {
  background-color: rgb(55, 155, 232);
}

.rowFormat {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: -20px;
}

.jumps {
  margin-top: -20px;
  color: greenyellow;
}

.health {
  margin-top: -20px;
  color: greenyellow;
}

.game-instructions {
  background-color: white;
  color: black;
  margin-bottom: 3px;
  border-color: yellow;
  font-size: 1.25rem;
  margin-top: 10px;
}

.score {
  color: black;
  border-color: RED;
}

.health-title {
  font-size: 1.2rem;
}

.total-jumps {
  font-size: 1rem;
}

#starCollected {
  font-size: 1.2rem;
  margin-top: 10px;
  margin-right: 50px;
}

.modal {
  position: fixed;
  top: 30%;
  left: 40%;
  transform: translate(-50%, -50%) scale(0);
  transform: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: rgb(55, 155, 232);
  width: 700px;
  height: 250px;
  max-width: 80%;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.modal-header .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-body {
  padding: 10px 15px;
}

#overlay {
  position: fixed;
  opacity: 0;
  transform: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

#restart-game {
  background-color: white;
  color: black;
  margin-bottom: 3px;
  border-color: yellow;
  font-size: 1.25rem;
  margin-top: 10px;
  margin-right: 200px;
}
